:root {
  --font-primary: "Open Sans", "Arial", sans-serif;

  --common-black: #000;
  --common-white: #fff;

  --grey-900: #121117;
  --grey-800: #15141b;
  --grey-700: #1c1b23;
  --grey-600: #27262b;
  --grey-500: #585661;
  --grey-400: #626068;
  --grey-300: #77757c;

  --pink-200: #e6baeb;
  --pink-200-50: #e6baeb80;

  --purple-500: #4a3e84;
  --purple-500-50: #4a3e8480;

  --blue-600: #345179;
  --blue-600-50: #34517980;

  --cyan-500: #7de3f1;
  --cyan-500-50: #7de3f180;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--grey-900);
  font-family: var(--font-primary);
  color: var(--common-white);
}

.debug {
  background-color: #e01f3d22;
  border: 1px solid #e01f3d88;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--grey-600) var(--grey-900);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--grey-900);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--grey-600);
  border-radius: 8px;
  border: 1px solid var(--grey-500);
}
