:root {
  --font-primary: "Open Sans", "Arial", sans-serif;

  --common-black: #000;
  --common-white: #fff;

  --grey-900: #121117;
  --grey-700: #1c1b23;
  --grey-300: #656468;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--grey-900);
  font-family: var(--font-primary);
  color: var(--common-white);
}
