.card {
  max-width: 50vw;
  background-color: var(--grey-900);
  border: 2px solid var(--grey-700);
  border-radius: 0.25rem;
}

.cardTitle {
  padding: 0.625rem 1rem;
  background-color: var(--grey-700);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: var(--common-white);
}

.cardBody {
  padding: 1rem;
  color: var(--common-white);
}
