.table {
  position: relative;
  width: 100%;
  border-spacing: 0 0.5rem;
}

.tableHeader {
  text-align: start;
  text-transform: capitalize;
}

.table td {
  font-size: 0.875rem;
}

.alignTextEnd {
  text-align: end;
}
