.mainGrid,
.mainCols,
.mainCol1,
.mainCol2,
.subCol1,
.subCol2 {
  display: grid;
  gap: 1rem;
}

.mainGrid {
  grid-template-rows: 3rem 1fr;
}

.mainCols {
  grid-template-columns: 1fr;
}

.mainCol1 {
  grid-template-rows: max-content 1fr;
}

.mainCol2 {
  grid-template-rows: max-content max-content 1fr;
}

.subCol1,
.subCol2 {
  grid-template-columns: 1fr;
}

.subCol2 {
  grid-template-rows: max-content 1fr;
}

.customButton {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  background-color: var(--grey-500);
  border: none;
  border: 1px solid var(--grey-500);
  font-size: 0.875rem;
  line-height: 1;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .mainCols {
    grid-template-columns: 2fr 1fr;
  }

  .subCol1 {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .mainCols {
    grid-template-columns: 1.8fr 1.5fr;
  }

  .subCol1 {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1201px) {
  .mainCols {
    grid-template-columns: 2fr 1.2fr;
  }

  .subCol1 {
    grid-template-columns: 1fr 1fr;
  }
}
